<h1>Here you can vote for cooler cat!</h1>

<div class="flash_notice">
    <%= flash[:notice] %>
</div>

<div id="fight_table">
    <table class="cats_table">
      <tr>
        <th><%= @cat1.image %></th>
        <th><%= @cat2.image %></th>
      </tr>
      <tr>
        <td><img class="fight_cat_image" src="/images/cats/<%= @cat1.image %>" /></td>
        <td><img class="fight_cat_image" src="/images/cats/<%= @cat2.image %>" /></td>
      </tr>
      <tr>
        <td class="button_cell"><%= button_to "Vote for this Cat!", { :controller => "fights", :action => "vote", :id_win => @cat1.id, :id_lose => @cat2.id }, :class => 'vote_button' %></td>
        <td class="button_cell"><%= button_to "Vote for this Cat!", { :controller => "fights", :action => "vote", :id_win => @cat2.id, :id_lose => @cat1.id }, :class => 'vote_button' %></td>
      </tr>
    </table>
</div>
