<!DOCTYPE html>
<html>
<head>
  <title>CatFights</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><%= link_to "cats fights!", :controller => "home", :action => "index" %></h1>
				<p> design by Maciej Lorens</p>
			</div>
			<div id="menu">
				<ul>
					<li><%= link_to "home", :controller => "home", :action => "index" %></li>
					<li><%= link_to "fights", :controller => "fights", :action => "index" %></li>
					<li><%= link_to "top total", :controller => "top_picture_total", :action => "index" %></li>
					<li><%= link_to "top time period", :controller => "top_picture_time_period", :action => "index" %></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="page">
    <div id="content">
      <%= yield %>
    </div>
	</div>

  <div id="footer-wrapper">
    <div id="footer">
      <table>
        <tr>
          <td><h3>CatsFights was created for fun, and to fun. Enjoin it! ;-)</h3></td>
          <td><p>Copyright © 2012. All rights reserved.</p></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>